@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach(var product in Model)
    {
        <h2>Product</h2>
        <h3>@product.Id</h3>
        <h3>@product.Name</h3>
        <h3>@product.Price</h3>
        <h3>@product.Date</h3>
    }
</div>
